.example-card {
  display: flex;
  justify-content: center;
  float: left;
  width: 270px;
  height: 270px;
  /* background-color: #f0f0f0; */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border: #333;
  border-radius: 12%;
  color: antiquewhite;
}
.third h1 {
  text-align: center;
}
.trading {
  padding-top: 50px;
  color: aqua;
}
.third {
  min-height: 500px;
  background-color: #252842;
}
.card {
  margin-left: 85px;
  margin-top: 30px;
  margin-top: 60px;
}
.example-card mat-card {
  margin-left: auto;
  margin-right: auto;
}
mat-card-header img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
mat-card-content h1 {
  text-align: center;
  padding-top: 10px;
}
mat-card-content p {
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .example-card {
    margin-left: auto;
    margin-right: auto;
  }
  .example-card mat-card {
    margin-left: auto;
    margin-right: auto;
  }
  mat-card {
    margin-left: auto;
    margin-right: auto;
  }
  mat-card-header {
    margin-left: auto;
    margin-right: auto;
  }
  mat-card-header img {
    margin-left: auto;
    margin-right: auto;
  }
  mat-card {
    margin-left: auto;
    margin-right: auto;
  }
  .third {
    height: 1390px;
    background-color: #252842;
  }
}
