<div class="row">
  <div class="row-one">
    <h1>
      Login into MyFXTM, the trusted client portal for FXTM traders for over 10
      years. Trade and invest in Forex, CFDs and stocks.
    </h1>
    <!-- <div >
      Trade on MetaTrader – one of the most popular trading platforms in the
      world.
    </div>
    <div>
      Stuck or confused? Your login queries answered. You can also get in touch.
    </div> -->
  </div>
  <div class="row-two">
    <div class="login-container">
      <h2>Login</h2>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
